@import "../../style.scss";

.stories {

  display: flex;
  height: 15.6rem;
  gap: 10px;
  margin-bottom: 2rem;
  @include mobile {
    height: 50px;
    justify-content: space-between;
  }
  @include tablet{
    height: 12.5rem;
    gap:1.25rem;
  }

  .story {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;

    @include mobile {
      flex: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .btn-plus {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 2.5rem;
      left: 1rem;
      color: white;
      border: none;
      background: #5271ff;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      padding: 1px;
      font-size: 1.4rem;
      @include mobile {
        inset: 0;
        margin: auto;
      }

    }

    .name {
      position: absolute;
      bottom: .5rem;
      left: 1rem;
      font-weight: 500;
      color: #f6f3f3;
      @include mobile {
        display: none;
      }
    }
  }
}