@import "../../style";

.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed('bgSoft');

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        background-color: themed('bg');
        span {
          color: gray;
        }

        margin-bottom: 20px;

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          margin: 20px 0;

          .time {
            white-space: nowrap;
            font-size: .8rem;
          }

          .userInfo {
            flex-shrink: 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .online {
              top: 0;
              left: 30px;
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: lightgreen;
            }

            .online.offline {
              background-color: lightgray;
            }

            span {
              font-weight: 500;
              color: themed("textColor");
            }

            p {
              color: themed("textColorSoft");
            }
          ;
          }

          .buttons {

            display: flex;
            gap: 5px;
            align-items: center;

            button {
              border: none;
              padding: 5px 10px;
              color: white;
              border-radius: 10px;
              cursor: pointer;

              &:first-child {
                background: #5271ff;
              }

              &:last-child {
                background: #f0544f;
              }
            }

          }
        }
      }
    }
     @include mobile{
            display: none;
          }
  }
}